Port 2222
ListenAddress 0.0.0.0
HostKey /run/ssh/host_key
PidFile /run/ssh/sshd.pid
AuthorizedKeysFile /run/ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
UsePAM no
StrictModes no
AllowUsers lab
AllowAgentForwarding no
AllowTcpForwarding local
AllowStreamLocalForwarding yes
X11Forwarding no
PrintMotd no
LogLevel ERROR
